<%= form_for(@follow_restaurant) do |f| %>
  <% if @follow_restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follow_restaurant.errors.count, "error") %> prohibited this follow_restaurant from being saved:</h2>

      <ul>
      <% @follow_restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.number_field :restaurant_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
