<p id="notice"><%= notice %></p>

<h1>Listing Follow Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @follow_restaurants.each do |follow_restaurant| %>
      <tr>
        <td><%= follow_restaurant.user_id %></td>
        <td><%= follow_restaurant.restaurant_id %></td>
        <td><%= link_to 'Show', follow_restaurant %></td>
        <td><%= link_to 'Edit', edit_follow_restaurant_path(follow_restaurant) %></td>
        <td><%= link_to 'Destroy', follow_restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Follow restaurant', new_follow_restaurant_path %>
