<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Promo pic:</strong>
  <%= image_tag(@food.promo_pic_url) if @food.promo_pic? %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @food.restaurant_id %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
